*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
body{
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(to top left, #28b487,#7dd56f);
}
.show-modal{
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}
.close-modal{
    position: absolute;
    top: 1.2rem;
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    background: white;
    border: none;
    margin-left: 320px;
}
.hidden{
    display: none;
}
.modal{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 35%;
    background: #fff;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100;
    box-shadow: 0 13rem 15rem rgba(0, 0, 0, 0.6) ;}